.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.panel {
  width: 300px;
}

.panel .field {
  margin: 16px 0;
}
