.root {
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
}

.item {
  margin: 0 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #606061;
  font-size: 18px;
  transition: color 0.5s ease;
}

.item:hover,
.item.selected {
  color: #FFF;
}

.item svg {
  width: 32px;
  font-size: 26px;
  margin-right: 16px;
  transition: font-size 0.5s ease;
}

.item:hover svg,
.item.selected svg {
  font-size: 38px;
}

.separator {
  flex-grow: 1;
}

.mainMenuItems {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
