// 1. Your custom variables and variable overwrites.
$global-primary-background: #FC5252;
$global-link-color: #FC5252;
$global-link-hover-color: #FEA3A1;
$base-selection-background: #EED6D6;

// 2. Import default variables and available mixins.
@import "./node_modules/uikit/src/scss/variables-theme.scss";
@import "./node_modules/uikit/src/scss/mixins-theme.scss";

// 4. Import UIkit.
@import "./node_modules/uikit/src/scss/uikit-theme.scss";