@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@1,700&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
